@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root { height: 100%; }
    body {
        background-color: theme('colors.axc.paper');
        color: theme('colors.axc.ink');
    }
    /* in index.css */
    body::before {
        content: "";
        position: fixed;
        inset: 0;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='n' x='0%' y='0%' width='100%' height='100%'><feTurbulence baseFrequency='0.9' numOctaves='4' stitchTiles='stitch' /><feColorMatrix type='saturate' values='0' /><feComponentTransfer><feFuncA type='linear' slope='0.04'/></feComponentTransfer></filter><rect width='100%' height='100%' filter='url(%23n)'/></svg>");
        background-repeat: repeat;
        pointer-events: none;
        z-index: 0;
    }
}
